.container {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  background-color: #613EEA;
  box-shadow: 0px 8px 20px rgba(97, 62, 234, 0.32);
  border-radius: 6px;
  padding: 14px 20px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1px;
  transition: transform 0.2s;
}

.container:active {
  transform: scale(0.975);
}
