.container {
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.container-scroll {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.container-scroll::-webkit-scrollbar {
  display: none;
}
