.container {
  background-color: #fff;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 14px 0;
  padding-left: 15px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}

.half {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.to {
  font-size: 12px;
  font-weight: 300;
  color: rgba(23, 29, 51, 0.4);
  letter-spacing: 0.1px;
  line-height: 16px;
  margin-top: -4px;
  margin-bottom: 2px;
}

.to-name {
  font-size: 14px;
  font-weight: 500;
  color: rgb(23, 29, 51);
  letter-spacing: 0.2px;
  line-height: 20px;
}

.date {
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #757F8C;
  line-height: 18px;
}

.counter-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.counter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #F2F3F5;
  font-size: 14px;
  color: #613EEA;
  cursor: pointer;
  transition: transform 0.2s;
}

.counter-icon:active {
  transform: scale(0.8);
}

.counter-icon-text {
  margin-top: -5px;
}

.counter-number {
  font-size: 12px;
  line-height: 20px;
  color: #D6D9E4;
  margin: 0 5px;
}

.price {
  display: flex;
  flex-direction: row;
  flex: 1;
  color: #FA2E69;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  font-weight: 600;
  letter-spacing: 0.1px;
}
