.container {
  top: 0;
  position: fixed;
  width: 375px;
  background-color: #613EEA;
  height: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  padding: 0 16px;
}

.indent {
  padding-top: 60px;
}

.app-logo {
  display: flex;
  flex: 1;
}

.app-logo {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.total-price {
  display: flex;
  flex: 2;
  justify-content: center;
  font-size: 24px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.app-menu-icon {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
