.container {
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  margin-top: 30px;
  color: #613EEA;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.1px;
}