.container {
  background-color: rgb(249, 250, 251);
  padding: 30px 16px;
}

.description {
  display: flex;
  flex-direction: row;
  margin-bottom: 26px;
}

.description-price {
  display: flex;
  flex: 1;
  background-color: #F0F1F4;
  border-radius: 6px;
  color: #000;
  letter-spacing: 0.5px;
  font-size: 24px;
  font-weight: 600;
  margin-right: 17px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 22px;
  padding-right: 20px;
}

.description-text {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #757F8C;
}